---
import Root from "../../layouts/Root.astro";

let warframes = await fetch(
	"https://raw.githubusercontent.com/WFCD/warframe-items/master/data/json/Warframes.json",
);
warframes = await warframes.json();
warframes = warframes.filter((warframe) => {
	return warframe.isPrime;
});
---

<Root title="Prime Warframes">
	<div class="flex flex-wrap justify-center gap-4 p-4">
		{
			warframes.map((warframe) => {
				if (
					Array.isArray(warframe.components) &&
					warframe.components.length > 0
				) {
					return (
						<>
							<div class="">
								<details class="group">
									<summary class="list-none cursor-pointer border rounded text-center group-open:border-0">
										<span class="font-medium">{warframe.name}</span>
										<img
											class="size-32 mx-auto"
											src={`https://raw.githubusercontent.com/WFCD/warframe-items/master/data/img/${warframe.imageName}`}
										/>
									</summary>
									{warframe.components?.map((component) => {
										if (
											Array.isArray(component.drops) &&
											component.drops.length > 0
										) {
											return (
												<>
													<div class="">
														<span class="">{component.name}</span>
														{component.drops?.map((drop) => {
															let cleaned = drop.location.replace("Relic ", "");
															cleaned = cleaned.replace("(", "");
															cleaned = cleaned.replace(")", "");

															return (
																<>
																	<a
																		class={`inline-flex items-center rounded-md px-2 py-1 text-sm ring-inset ring-1 ${drop.location.startsWith("Axi") ? "bg-yellow-50 text-yellow-800 ring-yellow-600/20" : drop.location.startsWith("Meso") ? "bg-purple-50 text-purple-700 ring-purple-700/10" : drop.location.startsWith("Lith") ? "bg-orange-50 text-orange-700 ring-orange-600/10" : drop.location.startsWith("Neo") ? "bg-gray-50 text-gray-600 ring-gray-500/10" : ""}`}
																		href={`/relic/${cleaned}`}
																	>
																		{drop.location}
																	</a>
																</>
															);
														})}
													</div>
												</>
											);
										} else {
											return "";
										}
									})}
								</details>
							</div>
						</>
					);
				} else {
					return "";
				}
			})
		}
	</div>
</Root>
