---
import Root from "../../layouts/Root.astro";

export async function getStaticPaths() {
	let relics = await fetch(
		"https://raw.githubusercontent.com/WFCD/warframe-items/master/data/json/Relics.json",
	);
	relics = await relics.json();
	let paths = [];
	let unique = {}

	for (let relic of relics) {
		let prepare = {
			params: { slug: relic.name },
			props: { locations: relic.locations, drops: relic.drops, imageName: relic.imageName },
		}
		// let word = relic.name.split(" "); 
  	// word = word.slice(0, 2).join(" "); 
		// word += 'Relic'

		// unique[word] = prepare
		paths.push(prepare);
	};

	for (let key in unique) {
		paths.push(unique[key])
	}

	return paths
}

const { slug } = Astro.params;
const { locations, drops, imageName } = Astro.props;
---

<Root title={slug}>
	<div class="p-4">
		<h1 class="text-lg text-center">{slug}</h1>
		<img
			class="size-32 mx-auto"
			src={`https://raw.githubusercontent.com/WFCD/warframe-items/master/data/img/${imageName}`}
		/>
		{
			locations?.map((location) => {
				return (
					<>
						<div class="">
							<span>{location.location}</span>
						</div>
					</>
				);
			})
		}{
			drops?.map((drop) => {
				return (
					<>
						<div class="">
							<span>{drop.location}</span>
						</div>
					</>
				);
			})
		}
	</div>
</Root>
